@font-face{
    src: url(Lato-Regular.ttf);
    font-family: Lato;
}

@font-face{
    src: url(Lato-Bold.ttf);
    font-family: Lato;
    font-weight: bold;
}

body{
    font-family: Lato;
    font-size: 24px;
    margin: 80px 100px 100px;
}

header{
    margin-bottom: 60px;
}

h1{
    margin: 0 0 12px 0;
}

h3{
    font-weight: normal;
    margin-top: 0;
}

footer{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

a{
    color: inherit;
}

a:visited{
    color:inherit;
}


footer > a{
    margin-bottom: 12px;
    text-decoration: none;
    width: 200px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 20px 0;
    font-size: 24px;
    text-align: center;
    display: inline-block;
    font-weight: normal;
}

@media screen and (max-width: 600px){
    body{
        font-size: 20px;
        margin: 60px 32px 32px;
    }
    
    nav > *{
        display: block;
        margin-bottom: 12px;
        text-align: center;
    }

    footer{
        font-size: 16px;
    }

    footer > a{
        width: auto;
        display: block;
    }

}    

@media screen and (min-width:601px){
    nav > div{
        display: inline-block;
    }

    nav > *{
        margin-right: 20px;
    }
}