@font-face{
    src: url(Lato-Regular.ttf);
    font-family: Lato;
}

@font-face{
    src: url(Lato-Bold.ttf);
    font-family: Lato;
    font-weight: bold;
}

body{
    font-family: Lato;
    font-size: 24px;
}

footer{
    text-align: center;
    /* display: block; */
}
footer > a{
    margin-bottom: 12px;
    text-decoration: none;
    width: 200px;
    /* min-width: 100px; */
    border: 1px solid black;
    border-radius: 4px;
    padding: 20px 0;
    font-size: 24px;
    text-align: center;
    display: inline-block;
}

@media screen and (max-width: 400px){
    body{
        font-size: 20px;
    }
    
    nav > *{
        display: block;
        margin-bottom: 12px;
        text-align: center;
    }

    footer > a{
        width: auto;
        display: block;
    }

}    

@media screen and (min-width:401px){
    nav > div{
        display: inline-block;
    }
}