img{
    border-radius: 50%;
    display: inline-block;
    text-align: center;
}

main{
    text-align: center;
    display: block;
}

p{
    padding: 0 20%;
}

@media screen and (max-width: 600px){
    img{
        width: 200px;
    }
}

@media screen and (min-width: 601px){
    img{
        width: 250px;
    }
}